body {margin: 0;
  font-family:rosario;
}
.conteiner{position: sticky;
  top:0;
  height:10vh;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  text-align: center;
  }
  .conteiner img{
    width: 10%;
    background-color: white;
  }
  .conteiner nav{
    width: 90%;
    background-color: black;
     }
  .conteiner ul{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
  .nav li{
    list-style-type: none;
  }  
  a {text-decoration: none;
    text-align: center;
    color: #FFFCFC;
    font-family:rosario;
    font-size: 22px;
    line-height: 43px;
    margin-right: 20px;
    vertical-align: center;
  }
.page{
    box-sizing: border-box;
    min-height:90vh;
    }
  .page1{
     height:1084px;
      }

.center_left1{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name:animationleft1;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  animation-duration:1s;
}
  .center_right1{position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name:animationright1;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    animation-duration:1s;
  }
  .left{position: absolute;
    animation-name:animationleft;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function:linear;
    animation-duration:1s;
   }
  .right{position:relative;
  animation-name:animationright;
  animation-delay:1s;
  animation-fill-mode: forwards;
  animation-timing-function:linear;
  animation-duration:1s;
        }
@keyframes animationleft1 {
  0%{transform:translate(-486px, 15px);
  }
  100%{transform:translate(480px, 15px);
  }
}
@keyframes animationright1 {
  0%{transform:translate(2545px,15px);
  }
  100%{transform:translate(980px,15px);
  }
}
@keyframes animationleft {
  0% { transform:translate(-405px, 142px) ;
  }
 100%{transform:translate(68px, 142px) ;
  }
}
@keyframes animationright 
{
  0% {transform:translate(2551px, -638px) ;
  }
  100%{transform:translate(1480px, -638px) ;
  }
}
.page2{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
 
  }
.circle{
  width: 50%;
  display: flex;
  justify-content:space-evenly;
  margin-top: 50px;
  }
.barber{
  width: 50%; 
}
.circle p{
  font-family:rosario; 
font-size: 38px;
line-height: 58px;
color: #000000;
margin: 15px;
text-align: center;
}
.circle1{
  animation-name:movecircle1;
  position: relative;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  animation-duration:10s;
  animation-iteration-count: infinite;
 }
.circle3{
  animation-name:movecircle3;
  position: relative;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  animation-duration:10s;
  animation-iteration-count: infinite;
}
.circle4{
  animation-name:movecircle4;
  position: relative;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  animation-duration:10s;
  animation-iteration-count: infinite;
 }
.circle2{
  animation-name:movecircle2;
  position: relative;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  animation-duration:10s;
  animation-iteration-count: infinite;
 
}

@keyframes movecircle1 {
  0% {transform:translate(0px, 0px);

  }
  20%{transform:translate(450px, 0px);

  }
  40%{transform:translate(450px, 450px);

  }
  80%{transform:translate(0px, 450px);
  }
  100%{transform:translate(0px, 0px);
  }
}

@keyframes movecircle3 {
  0% {transform:translate(0px, 0px);

  }
  20%{transform:translate(0px, 450px);

  }
  40%{transform:translate(-400px, 450px);

  }
  80%{transform:translate(-400px, 0px);

  }
  100%{transform:translate(0px, 0px);

}
}

@keyframes movecircle4 {
  0% {transform:translate(0px, 0px);

  }
  20%{transform:translate(-450px, 0px);

  }
  40%{transform:translate(-450px, -450px);

  }
  80%{transform:translate(0px, -450px);

  }
  100%{transform:translate(0px, 0px);

  }
}

@keyframes movecircle2 {
  0% {transform:translate(0px, 0px);

  }
  20%{transform:translate(0px, -450px);

  }
  40%{transform:translate(450px, -450px);

  }
  80%{transform:translate(450px, 0px);

  }
  100%{transform:translate(0px, 0px);

  }
}
.title {
  font-family:rosario; 
  font-size: 96px;
  line-height: 116px;
  color: #000000;
  text-align: center;
  margin-top: 80px;
}
.team{
  display: flex;
  justify-content: space-evenly;
  margin-top: 17px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.card{
filter: brightness(50%)contrast(100%);
height: 677px;
width: 396px;
background-repeat: no-repeat;
}


.brown{
  text-align: center;
  font-family: 'Volkov';
  font-size: 48px;
  opacity: 0;
  width:396px ;
  height:158px ;
  z-index: 1;
  background-color:rgba(163, 83, 10, 0.7); 
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  position: absolute;
  top:517px;

}
.card:hover {
  filter: brightness(100%)contrast(100%);
}
.card:hover div{
  background-color:rgba(163, 83, 10, 0.7); 
  color:#FFFAFA;
  animation: fade .5s linear forwards;
     
}
@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
iframe{width: 626px;
height: 570px;
margin-top: 208px;}

.page4{
  display: flex;
  justify-content: space-evenly;
}

.page4 h3{
  font-family:Rosario;
  font-weight:700;
  font-size:50px;
  Line-height:77px;
  color:#000000;
  text-align: center;
  }
  .form{ width: 936px;
    height: 400px;
    background-color: #E5E5E5;
    margin-top:10px;
      } 
    .block1{
      display: flex;
      justify-content:center;
      align-items: center;
      gap: 20px;
    }
    .footer{
      margin-top: 10px;
      font-family:rosario; 
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
    }
    .content{
      margin-top: 30px;
      font-family:rosario; 
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }
    .connect span{
      margin-top: 10px;
      font-family:rosario; 
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color:black;
    }
    .connect h3{
      margin-bottom: -10px;
      box-sizing: border-box;
    }
    .hour h3{
      margin-bottom: -10px;
      box-sizing: border-box;
    }